@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.desenvolvedor{
    color: #22D4FD;
    font-family: 'Agdasima', sans-serif;
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteudo__texto{
    font-size: 24px;
    font-family: 'Ysabeau SC', sans-serif;;
}

.subtitulo_links{
    font-family:'Ysabeau SC', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: solid #22D4FD;
    border-width: 1px;
    width: 380px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 0;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}

.links span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
  }

  .links span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .links:hover span {
    padding-right: 25px;
  }
  
  .links:hover span:after {
    opacity: 1;
    right: 0;
  }

.links:hover{
    background-color: #272727
}

.rodape{
  color: #272727;
  text-align: center;
  background-color: #22D4FD;
  padding: 19px;
  font-family: 'Agdasima', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
  
@media (max-width: 1080px)
{
  .imagem
   {
    display: none;
   }
}


@media (max-width: 1080px)
{
  .conteudo__texto
   {
    text-align: center;
   }
}

@media (max-width: 1080px)
{
  .apresentacao__conteudo__titulo
   {
    text-align: center;
   }
}

@media (max-width: 1080px)
{
  .apresentacao__conteudo
   {
    text-align: center;
    margin: 10% 15% ;
   }
}

@media (max-width: 1080px)
{
  .apresentacao
   {
    text-align: center;
    margin: auto; 
   }
}

@media (max-width: 1080px)
{
  .rodape
   {
    display: flex;
    width: 482px;
    flex-direction: column;
    flex-shrink: 0;
   }
}