*{
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}

img{
    margin: auto;
}

strong1 {
    font-family: 'Cadson Demak';
    color: #22D4FD;
}

strong2 {
    font-size: 20px;
    font-family: 'Ksenya Erulevich', Cyreal;
    color: red;
}

main1 {
    margin: 10% 15%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p1{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-family: 'Quicksand', sans-serif;
}

.apresentacao_link{
    display: flex;
    justify-content: space-between;
}

.link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 550;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.conteudo{
    margin: auto;
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}